.page-header {
    /*background-color: #3b5998;*/
    background-color: #330066;
}

.page-header h2 {
    color: azure;
    margin-left: 1%;
    padding-top: 2%;
    font-family: sans-serif;
    text-indent: 1%;
/*    font-style: oblique;*/
}

.container {
    /*background-color: #afbdd4;*/
    /*padding: 20px;*/
}

.Error {
    color: red;
}

form {
    margin-left: 25%;
}

body {
    background-color: lightgray;
    font: sans-serif;
}

#name, #address, #mobile, #city, #age, #country_id, #state_id {
    width : 40%;
}

label.error {
    color: red;
    font-family: sans-serif;
}

/*.fields {
    align: left;
}*/

div.error {
    color: red;
}

/*#list tbody:hover {
    background-color: lightgray;
}*/

#list tr:hover td {
    background-color: #808080;
    color : white;
    transition: all 20ms ease-in-out;
    transform: scale(1.1);
}
