.page-header {
    background-color: #330066;
}
.page-header h2 {
    color: Azure;
    margin-left: 1%;
    padding-top: 2%;
    font-family: sans-serif;
    text-indent: 1%;
    font-style: oblique;
}

.Error {
    color: red;
}

body {
  background-color: lightgray;
  font: normal 14px Roboto,arial,sans-serif;
}

.container {
    padding: 25px;
    position: fixed;
}

#login-form {
    margin-top: 15%;
}
/*#content{
    padding-top: 5%;
    width: 35%;
    color: white;
}*/

label.error {
    color: red;
    font-family: arial;
}

p {
      font-size: initial;
}
