.page-header {
    background-color: #330066;
}
.page-header h2 {
    color: azure;
    margin-left: 1%; 
    padding-top: 2%;
    font-family: sans-serif;
    text-indent: 1%;
    font-style: oblique;
}

body {
    background-color: lightgray;
    font: normal 14px Roboto,arial,sans-serif;
}

.container {
    padding: 20px;
    position: fixed;
}

#register {
    margin-top: 15%;
}

label.error, #emailError {
    color: red;
}